<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Dojos and Ninjas (Home)</title>
</head>
<body class="d-flex text-center">
    <div class="container d-flex flex-column bg-secondary mt-3 rounded" style="width: 50%; margin: auto;">
        <h1 style="color: whitesmoke;">"Dojos and Ninjas"</h1>
        <h4 style="color: whitesmoke;">Core Assignment, Python Stack, Week 2, Thursday</h4>
        <br><br>
        <div class="d-flex flex-row justify-content-around">
            <div class="border border-light bg-danger d-flex flex-column justify-content-evenly rounded mb-5 px-4" style="height: inherit;">
                <a href="/new_dojo" class="link-light" style="font-size: 22px;">Create New Dojo</a>
                <a href="/new_ninja" class="link-light" style="font-size: 22px;">Create New Ninja</a>
            </div>
            <div class="border border-light bg-danger d-flex flex-column rounded mb-5 py-4" style="width: 30%;">
                <h5 style="color: whitesmoke;">View Dojo:</h5>
                {% for one_dojo in all_dojos %}
                <a href="/dojo/{{one_dojo.id}}" class="link-light">{{ one_dojo.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>